extends layout

block content
  h1 Оплаты заказа #{orderId}
  table(border=1)
    tr
      th ID
      th Тип
      th Сумма
    each pay in payments
      tr
        td #{pay.id}
        td #{pay.id_payment_type}
        td #{pay.amount}

  if user.id_role == 2
    h2 Добавить оплату
    form(action='/payments/add/' + orderId, method='post')
      select(name='id_payment_type')
        each type in types
          option(value=type.id) #{type.label}
      input(type='number', step='0.01', name='amount', placeholder='Сумма')
      button(type='submit') Добавить