extends layout

block content
  h1 Пользователи

  table(border=1)
    tr
      th ID
      th Логин
      th ФИО
      th Роль
      th Действия
    each u in users
      tr
        td #{u.id}
        td #{u.login}
        td #{u.fio}
        td #{u.role_label}
        td
          form(action='/users/edit/' + u.id, method='post', style="display:inline")
            input(type='text', name='login', value=u.login)
            input(type='text', name='fio', value=u.fio)
            select(name='id_role')
              each r in roles
                option(value=r.id selected=(r.id==u.id_role)) #{r.label}
            input(type='password', name='pass', placeholder='Новый пароль')
            button(type='submit') Редактировать
          form(action='/users/delete/' + u.id, method='post', style="display:inline")
            button(type='submit') Удалить

  h2 Добавить нового пользователя
  form(action='/users/create', method='post')
    input(type='text', name='login', placeholder='Логин')
    input(type='text', name='fio', placeholder='ФИО')
    input(type='password', name='pass', placeholder='Пароль')
    select(name='id_role')
      each r in roles
        option(value=r.id) #{r.label}
    button(type='submit') Добавить
